:root {
    --color1: #f4f1de;
    --color2: #e07a5f;
    --color3: #3d405b;
    --color4: #81b29a;
    --color5: #f2cc8f;
}
* {
    box-sizing: border-box;
   }
   

body {
    color: var(--color5);
    background-color: var(--color3);
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body h1,h2,h3 {
    color: var(--color4);
}

#root {
    position:relative;
    height: 100vh;
}

.navBar {
    background-color: var(--color1);
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.navBar a {
    text-decoration: none;
    padding: 20px;
    color: var(--color4);
    font-size: 1.5em;
}

.navBar a:hover {
    color: var(--color2);
    transition: color 0.3s ease-in;
}

.aboutContainer, .skillsContainer {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 22vh;
}

.aboutContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skillsContainer {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.aboutImg {
    width: 220px;
}

.aboutImg img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.info {
    padding-left: 60px;
}

.info a {
    color: var(--color4);
}

.info h1 {
    color: var(--color4)
}

.footer {
    color: var(--color4);
    background-color: var(--color1);
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}
/* Experience component styles*/ 
.exp {
    display: grid; 
    width: 100%;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr;
    grid-template-areas: "timeline cardContainer";
    margin-bottom: 50px; 
    margin-top: 20px;
}

.timeline {
    grid-area: timeline;
    justify-self: end;
    padding-right: 40px; 
    padding-top: 50px;

}

.cardContainer {
    grid-area: cardContainer; 
}

.dot {
    height: 25px;
    width: 25px;
    background-color: var(--color3);
    border: 3px solid var(--color4);
    border-radius: 50%;
    display: block;
    z-index: 1;
}

.line {
    margin-left: 11px;
    border-left: 3px solid var(--color4);
    height: 72px;
    transition: height 0.2s ease-out;
}

.space {
    margin-left: 14px;
    border-left: 3px solid var(--color3);
    height: 10px;
}

.card {
    width: 80%;
    padding: 10px 0px;
}
.content {
    color: var(--color5);
    width: 80%;
    text-align: left;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
}

.cardButton {
    background-color: var(--color3);
    height: auto;
    width: 90%;
    min-width: 250px;
    border: 0.5px solid var(--color2);
    text-align: left;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    transition: all 0.2s ease-out;
    cursor: pointer;
    padding-bottom: 5px;
    font-family: inherit;
}

.cardButton h4 {
    line-height: 0.5;
}

.jobTitle {
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--color4)
}

.company {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color5)!important;
}

.duration {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color5);
    /*color: rgba(0, 0, 0, .54)!important;*/
}
/* API componnent styles */ 
.apiContainer {
    text-align: center;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px; 
}

.apiContainer img {
    max-width: 75%;
    height: auto;
    margin-bottom: 50px;
}

.apiContainer a {
    color: var(--color4);
}

#year {
    color: var(--color2);
}

/* React Router transition styles */ 

.container {
    position: relative; 
}
  .page {
    position: absolute;
    left: 15px;
    right: 15px;
  }

  .page-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .page-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
  
  @media only screen and (max-width: 600px) {
      .info {
          padding: 0;
          margin-bottom: 50px;
          text-align: center;
      }

      .exp {
          grid-template-columns: 1fr;
          grid-template-areas: "cardContainer";
      }
      
      .timeline {
          display: none;
      }

      .aboutContainer, .skillsContainer {
          top: 10vh;
      }

      .card {
        width: 100%;
    }
    .cardContainer{
        padding-left: 40px;
    }

    .apiContainer img {
        max-width: 90%;
    }

    .skillsContainer > div {
        margin-bottom: 50px;
    }
  }